body{
    margin: 1rem;
}

a{
    text-decoration: none; 
    font-size:large;
    color: black;
    justify-content:stretch
}

.logo{
    width: 3rem;
    height: 3rem;
}

.navbar{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.5rem;
}

a:hover{
    background-color:crimson;
}
