body{
    margin: 1rem;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1028%26quot%3b)' fill='none'%3e%3cpath d='M977.402%2c533.838C1016.588%2c534.776%2c1046.086%2c503.042%2c1066.202%2c469.401C1087.019%2c434.587%2c1101.701%2c393.156%2c1083.07%2c357.125C1063.174%2c318.646%2c1020.718%2c297.243%2c977.402%2c297.664C934.803%2c298.078%2c893.898%2c320.85%2c875.23%2c359.143C858.302%2c393.867%2c876.168%2c431.974%2c895.671%2c465.32C914.908%2c498.211%2c939.31%2c532.926%2c977.402%2c533.838' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M345.5521780000847 414.0002327898313L475.7125638304364 388.8283254755678 401.2206595396707 300.05233091786374z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M742.4307737467304 268.2414169081756L864.0055913722916 303.1024348867739 777.2917917253287 146.66659928261447z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M515.4188206690924 56.72081979557973L508.11601539589554 196.06664541731067 647.4618410176265 203.36945069050748 654.7646462908233 64.02362506877655z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1383.771%2c350.091C1411.036%2c349.526%2c1435.609%2c334.348%2c1449.136%2c310.668C1462.554%2c287.18%2c1462.59%2c258.651%2c1449.543%2c234.956C1436.002%2c210.364%2c1411.843%2c191.628%2c1383.771%2c191.957C1356.169%2c192.28%2c1334.427%2c212.567%2c1320.615%2c236.467C1306.79%2c260.388%2c1300.119%2c289.327%2c1313.542%2c313.476C1327.289%2c338.208%2c1355.481%2c350.677%2c1383.771%2c350.091' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M404.66468211248605 154.3788687013497L254.57508318953967 167.3658856510611 328.2164070051926 276.54363800975585z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M817.1522653551867 275.6764439375608L908.1114021849196 346.7415101420889 979.1764683894476 255.78237331235607 888.2173315597148 184.717307107828z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1205.4521783285243 450.96749743665487L1244.5543959970748 330.62324585111344 1124.2101444115335 291.52102818256276 1085.1079267429827 411.86527976810424z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1141.117%2c75.757C1166.288%2c77.314%2c1192.093%2c66.968%2c1204.718%2c45.137C1217.356%2c23.283%2c1213.586%2c-4.334%2c1199.58%2c-25.337C1186.984%2c-44.226%2c1163.815%2c-49.747%2c1141.117%2c-50.241C1117.237%2c-50.761%2c1090.072%2c-48.636%2c1078.072%2c-27.983C1066.038%2c-7.271%2c1077.388%2c17.558%2c1089.828%2c38.028C1101.642%2c57.468%2c1118.412%2c74.352%2c1141.117%2c75.757' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M383.851%2c601.105C419.034%2c601.236%2c453.663%2c585.4%2c470.654%2c554.592C487.157%2c524.669%2c477.364%2c489.877%2c462.041%2c459.333C444.374%2c424.118%2c423.219%2c383.104%2c383.851%2c381.568C343.011%2c379.974%2c312.519%2c416.191%2c294.326%2c452.789C278.226%2c485.176%2c279.469%2c522.987%2c298.159%2c553.951C316.217%2c583.867%2c348.907%2c600.975%2c383.851%2c601.105' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1060.2106120033945 5.35854654687158L1177.4381750145435 118.56388824472685 1290.6435167123987 1.3363252335779237 1173.41595370125-111.86901646427735z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1125.567%2c599.648C1168.349%2c599.832%2c1208.458%2c579.097%2c1230.89%2c542.667C1254.49%2c504.339%2c1262.611%2c454.641%2c1238.103%2c416.887C1215.091%2c381.438%2c1167.758%2c377.948%2c1125.567%2c380.42C1088.548%2c382.589%2c1053.826%2c397.67%2c1033.768%2c428.859C1011.827%2c462.977%2c1002.599%2c506.037%2c1021.804%2c541.767C1041.901%2c579.157%2c1083.118%2c599.465%2c1125.567%2c599.648' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1018.289%2c261.822C1077.124%2c263.071%2c1144.542%2c260.37%2c1174.559%2c209.753C1204.931%2c158.538%2c1176.272%2c97.074%2c1146.605%2c45.447C1116.792%2c-6.435%2c1078.126%2c-61.879%2c1018.289%2c-62.198C958.107%2c-62.519%2c916.449%2c-8.742%2c887.578%2c44.064C860.165%2c94.203%2c843.689%2c154.36%2c873.099%2c203.355C901.878%2c251.3%2c962.383%2c260.636%2c1018.289%2c261.822' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M704.6910311662926 288.1176561645452L561.7451560052407 348.7945802514539 622.4220800921494 491.7404554125058 765.3679552532013 431.0635313255972z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M979.3813337227041 262.27888496023417L1073.7991093634996 164.5064161235137 976.026640526779 70.08864048271829 881.6088648859836 167.86110931943875z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1448.3267192105225 535.3124260727714L1460.1332103791747 368.7530004554933 1327.8444785151287 430.4402492113111z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1257.9%2c439.915C1306.596%2c438.974%2c1350.564%2c413.305%2c1375.96%2c371.745C1402.576%2c328.188%2c1412.478%2c273.277%2c1386.62%2c229.266C1361.034%2c185.718%2c1308.317%2c173.836%2c1257.9%2c170.808C1199.458%2c167.298%2c1129.918%2c162.113%2c1099.29%2c212.01C1067.964%2c263.045%2c1097.456%2c327.316%2c1131.662%2c376.467C1160.495%2c417.897%2c1207.433%2c440.89%2c1257.9%2c439.915' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M222.72913494148366 416.4046001949381L121.59106260345976 459.3351648624145 236.55594577368635 589.5769910357121z' fill='rgba(220%2c 20%2c 60%2c 0.52)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1028'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none; 
    font-size:large;
    color: black;
    @media only screen and (max-width: 370px) {
        font-size: small;
    }
}

.logo{
    width: 3rem;
    height: 3rem;
}

.navbar{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 1.5rem;
    background-color: #dc143cd4;
    border-radius: 3rem;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem auto;
    
    @media only screen and (max-width: 370px) {
        column-gap: 0.5rem;
    }
}

a:hover{
    color: white;
}

.biblio{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: 20rem;
    right: 30rem;
    width: 100rem;

    @media only screen and (max-width: 1440px) {
        top: 28rem;
        right: 14rem;
        width: 60rem;
    }

    @media only screen and (max-width: 1024px) {
        top: 31rem;
        right: 10rem;
        width: 45rem;
    }

    @media only screen and (max-width: 768px) {
        top: 33rem;
        right: 7rem;
        width: 38rem;
    }

    @media only screen and (max-width: 520px) {
        display: none;
    }
}

.castenaso-1{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: 10rem;
    right: 1rem;
    @media only screen and (max-width: 520px) {
        display: none;
    }

}

.castenaso-2{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: 10rem;
    left: 1rem;

    @media only screen and (max-width: 520px) {
        display: none;
    }
}